.activeTasks{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.doneTasks{
    display:flex;
    align-items: center;
    flex-direction: column;
    height:auto;
    color:oldlace;
    text-align: center;
}